.card {
  max-width: 327px;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 24px;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  margin: auto;
}
.card .slider__title {
  color: #848EAD;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 600;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 1.71429px;
  margin: 34px auto 25px auto;
  text-align: center;
}
.card .price-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.card .slider__amount {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.8px;
  color: #293356;
  vertical-align: middle;
  line-height: 44px;
}
.card .slider__duration {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
  color: #848EAD;
  vertical-align: middle;
  line-height: 19px;
}
.card .duration__text__left {
  color: #848EAD;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 16px;
}
.card .duration__text__right {
  color: #848EAD;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 16px;
}
.card .button__container {
  margin: 32px auto;
}

.slider__container {
  display: flex;
  justify-content: center;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
  max-width: 279px;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #ECF0FB;
  height: 8px;
  border-radius: 5px;
}

input[type=range]::-moz-range-track {
  background: #ECF0FB;
  height: 8px;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -16px; /* Centers thumb on the track */
  background-color: #10D8C4;
  height: 40px;
  width: 40px;
  background-image: url("/images/icon-slider.svg");
  background-size: 22px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #10D8C4;
  height: 40px;
  width: 40px;
  background-image: url("/images/icon-slider.svg");
  background-size: 22px 13px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.billing {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  width: 100%;
  margin: 34px auto 38px auto;
  align-items: center;
}

.billing__toggle {
  display: flex;
  margin: auto 8px;
  justify-content: center;
}

.duration__left__label {
  display: flex;
  width: 47.5%;
  justify-content: flex-end;
}

.duration__right__label {
  display: flex;
  width: 47.5%;
  justify-content: flex-start;
}

.discount__container {
  display: flex;
  background-color: #FEEDE8;
  justify-content: center;
  align-items: center;
  height: 19px;
  width: 41px;
  border-radius: 9.5px;
  margin-left: 5.5px;
}

.discount__percentage {
  font-style: normal;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 14px;
  text-align: center;
  color: #FF8D68;
  height: 14px;
  margin: auto;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
  background-color: #CFD8EF;
  border-radius: 30px;
}

.toggle:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 4px;
  left: 4px;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 25px;
}

.checkbox:checked + .toggle {
  background-color: #7AEADF;
}

.checkbox {
  display: none;
}

.usps {
  list-style: none;
  padding: 0;
  margin: 24px auto 32px;
  font-weight: 600;
}

.usps li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
  background: url("/images/icon-check.svg") no-repeat center;
  background-size: contain;
}

.usp-item {
  display: flex;
  justify-content: center;
  margin: 10px 8px auto;
  color: #848EAD;
}

.button__primary {
  height: 41px;
  width: 170px;
  left: 0px;
  top: 0px;
  background: #293356;
  border-radius: 20.5px;
  color: #848EAD;
  border-style: none;
  font-weight: 800;
}

.button__primary:hover {
  color: #ffffff;
}

.block__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 89px auto 32px auto;
  width: 100%;
  height: 146px;
}

.header__background {
  justify-content: center;
  background-image: url("/images/pattern-circles.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  color: #293356;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  margin: 32px 25px 8px 25px;
}

.description {
  margin: 0px;
  color: #848EAD;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  text-align: center;
  margin: 0px auto 32px auto;
  line-height: 23px;
  width: 50%;
}

.block__wrapper {
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: 440px;
  background-color: #F1F5FE;
  border-radius: 0px 0px 0px 191.5px;
}

header .block__header {
  display: flex;
  flex-direction: column;
}

html, body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */